{% extends 'app/base.html' %}


{% block content %}
{% load static %}

 
<title>{% block title %}Fourier optics{% endblock %}</title>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<section id="starter-section" class="starter-section section">
    <div class="container" >
        

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            
            <p class="main-title">
                Simulating 
                <a href="https://en.wikipedia.org/wiki/Diffraction" target="_blank">
                Diffraction 
                </a>
                Patterns with the
                <a href="https://en.wikipedia.org/wiki/Angular_spectrum_method" target="_blank">
                    Angular Spectrum Method
                </a>
             </p>
            <div class="row">
                <div class="col-lg-4 justify-content-center align-items-center">
                    <div class="title">
                        Light Source
                    </div>
              
                    <div class="table-wrapper">
                    
                        <table class="table">
                            <tr>
                                <th>Wavelength (nm)</th>
                                <th>Intensity</th>
                            </tr>
                            {% for matrix_form in formset %}
                            <tr>
                                <td>{{ matrix_form.wavelength }}</td>
                                <td>{{ matrix_form.intensity }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                            
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-danger" type="submit" name="delete_matrix">-</button>
                        <button class="btn btn-success" type="submit" name="add_matrix">+</button>
                        
                    </div>
                </div>
                <div class="col-lg-8 justify-content-center align-items-center">
                    <div class="row">
                    <div class="title">
                        Aperture : {{ form.aperture_type }}
                    </div>
                   
                    <div class="table-wrapper">
                        <table class="table">
                            <tr>
                                <th colspan="4">N Slit</th>
                                <th>Circular</th>
                            </tr>
                            <tr>
                                <td>Number Of Slits</td>
                                <td>Width (mm)</td>
                                <td>Height (mm)</td>
                                <td>Distance between slits (mm):</td>
                                <td>Aperture Radius (mm)</td>
                            </tr>
                            <tr>
                                <td><div class="form-container">{{ form.number_of_slits }}</div></td>
                                <td><div class="form-container">{{ form.slit_width }}</div></td>
                                <td><div class="form-container">{{ form.slit_height }}</div></td>
                                <td><div class="form-container">{{ form.distance_between_slits }}</div></td>
                                <td><div class="form-container">{{ form.aperture_radius }}</div></td>
                            </tr>
                        </table>
                    </div>
                </div>
                    <div class="row">
                
                        <div class="col-lg-6 justify-content-center align-items-center">
                            <div class="title">
                                Screen
                
                            </div>
                            <div class="table-wrapper">
                                <table class="table">
                                
                                    <tr>
                                        <th>Distance Screen to Aperture (cm):</th>
                                        <th>Width (mm)</th>
                                    </tr>
                                    <tr>
                                        <td>{{ form.distance_screen_to_aperture }}</td>
                                        <td>{{ form.screen_width }}</td>
                                    </tr>
                                
                                </table>
                                </div>
                        </div>
                        <div class="col-lg-6 justify-content-center align-items-center">
                            <div class="title">
                                Parameters
                
                            </div>
                            <div class="table-wrapper">
                                <table class="table">
                                
                                    <tr>
                                        <th >Resolution</th>
                                        <th >Number of Steps</th>
                                    </tr>
                                
                                    <tr>
                                        <td>{{ form.resolution }}</td>
                                        <td>{{ form.animation_frames }}</td>
                                    </tr>
                                
                                </table>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
                    <button type="submit" class="btn btn-primary w-100" name="plot_all_optimized">Submit</button>
               
            
        </form>
            <hr>
            <div class="row justify-content-center align-items-start mt-4" style="overflow-x: auto;">
                
                <div class="col-lg-6 mb-4">
                    <div id="rgb-plot"></div>
                    <script>
                        var plot_data = {{ anim_rgb_plot_data|safe }};
                        Plotly.newPlot('rgb-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('rgb-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">

                    <div id="heatmap-plot"></div>
                    <script>
                        var plot_data = {{ anim_heatmap_plot_data|safe }};
                        Plotly.newPlot('heatmap-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('heatmap-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">
                    <div id="3d-plot"></div>
                    <script>
                        var plot_data = {{ anim_3d_plot_data|safe }};
                        Plotly.newPlot('3d-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('3d-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">
                    <div id="lines-plot"></div>
                    <script>
                        var plot_data = {{ anim_lines_plot_data|safe }};
                        Plotly.newPlot('lines-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('lines-plot', plot_data.frames);
                        });
                    </script>
                </div>

            </div>
        
        
    </div>
</section>


{% endblock %}