{% extends 'app/base.html' %}


{% block content %}
{% load static %}

 
<title>{% block title %}Fourier optics{% endblock %}</title>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<section id="starter-section" class="starter-section section">
    <div class="container" >
        

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
            
            <p class="main-title">
                Simulating 
                <a href="https://en.wikipedia.org/wiki/Diffraction" target="_blank">
                Diffraction 
                </a>
                Patterns with the
                <a href="https://en.wikipedia.org/wiki/Angular_spectrum_method" target="_blank">
                    Angular Spectrum Method
                </a>
             </p>
            <div class="row">
                <div class="col" style="flex: 0 0 26%; max-width: 26%;">
                    <div class="title">
                        Light Source
                    </div>
              
                    <div class="table-wrapper">
                    
                        <table class="table">
                            <tr>
                                <th>Wavelength (nm)</th>
                                <th>Intensity</th>
                            </tr>
                            {% for matrix_form in formset %}
                            <tr>
                                <td>{{ matrix_form.wavelength }}</td>
                                <td>{{ matrix_form.intensity }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                            
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-danger" type="submit" name="delete_matrix">-</button>
                        <button class="btn btn-success" type="submit" name="add_matrix">+</button>
                        
                    </div>
                </div>
                <div class="col" style="flex: 0 0 74%; max-width: 74%;">
                    <div class="title">
                        Aperture : {{ form.aperture_type }}
                    </div>
                   
                    <div class="table-wrapper">
                        <table class="table">
                            <tr>
                                <th colspan="4">N Slit</th>
                                <th>Circular</th>
                            </tr>
                            <tr>
                                <td>Number Of Slits</td>
                                <td>Width (mm)</td>
                                <td>Height (mm)</td>
                                <td>Distance between slits (mm):</td>
                                <td>Aperture Radius (mm)</td>
                            </tr>
                            <tr>
                                <td><div class="form-container">{{ form.number_of_slits }}</div></td>
                                <td><div class="form-container">{{ form.slit_width }}</div></td>
                                <td><div class="form-container">{{ form.slit_height }}</div></td>
                                <td><div class="form-container">{{ form.distance_between_slits }}</div></td>
                                <td><div class="form-container">{{ form.aperture_radius }}</div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="flex: 0 0 29.167%; max-width: 29.167%;">
                    <div class="title">
                        {{ form.add_lens }} Add Lens
        
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                        
                            <tr>
                                <th>Distance Lens to Aperture (cm):</th>
                                <th>Focal Length (mm)</th>
                            </tr>
                            <tr>
                                <td>{{ form.distance_lens_to_aperture }}</td>
                                <td>{{ form.focal_length }}</td>
                            </tr>
                            
                        </table>
                    </div>
                </div>
                <div class="col" style="flex: 0 0 29.167%; max-width: 29.167%;">
                    <div class="title">
                        Screen
        
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                        
                            <tr>
                                <th>Distance Screen to Aperture (cm):</th>
                                <th>Width (mm)</th>
                            </tr>
                            <tr>
                                <td>{{ form.distance_screen_to_aperture }}</td>
                                <td>{{ form.screen_width }}</td>
                            </tr>
                        
                        </table>
                        </div>
                </div>
                <div class="col-lg-5 justify-content-center align-items-center">
                    <div class="title">
                        Parameters
        
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                        
                            <tr>
                                <th rowspan="2">Resolution</th>
                                <th colspan="2">Animation parameters</th>
                            </tr>
                            <tr>
                                <td>Frames</td>
                                <td>Framerate</td>
                            </tr>
                            <tr>
                                <td>{{ form.resolution }}</td>
                                <td>{{ form.animation_frames }}</td>
                                <td>{{ form.animation_framerate }}</td>
                            </tr>
                        
                        </table>
                        </div>
                </div>
            </div>
        
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 justify-content-center align-items-center">
                    <button type="submit" class="btn btn-primary w-100" name="plot_all_optimized">Submit</button>
                </div>
                    <div class="col-lg-6 justify-content-center align-items-center">
                        {% if request.user.is_authenticated %}
                        <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#userModal">Save</button>
                        {% else %}
                        <a type="button" class="btn btn-primary w-100" href="{% url 'app:login' %}">Save</a>
                        {% endif %}
                </div>
            </div>
            <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi-person smoothscroll me-1"></i>{{ user.username }}
                            </a>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
            
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <form method="post" action="">
                                {% csrf_token %}
                                
                                <!-- Title Field -->
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="title"
                                        name="title"
                                        placeholder=""
                                        required
                                    >
                                </div>
            
                                <!-- Visibility Choice -->
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="visibility"
                                            id="visibilityPublic"
                                            value="public"
                                            checked
                                            style="cursor: pointer;font-size:20px;"
                                        >
                                        <label
                                            class="form-check-label fw-bold"
                                            for="visibilityPublic"
                                            
                                        >
                                            Public
                                        </label>
                                        <p class="text-muted">
                                            Anyone on the internet can access the saved URL.
                                        </p>
                                    </div>
                                    <div class="form-check">
                                        <input
                                            class="form-check-input"
                                            type="radio"
                                            name="visibility"
                                            id="visibilityPrivate"
                                            value="private"
                                            style="cursor: pointer; font-size:20px;"
                                        >
                                        <label
                                            class="form-check-label fw-bold"
                                            for="visibilityPrivate"
                                            
                                        >
                                            Private
                                        </label>
                                        <p class="text-muted">
                                            Only you can access the saved URL.
                                        </p>
                                    </div>
                                </div>
                                
                                
                                <!-- Save Button -->
                                <div class="d-grid gap-2 mt-4">
                                    <button type="submit" id="saveButton" name="save_simu" class="btn btn-primary">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <hr>
            <div class="row justify-content-center align-items-start mt-4" style="overflow-x: auto;">
                {% if animation_saved %}
                {% comment %} <button type="submit" id="saveButton" name="save_simu">Save Simulation</button>
 {% endcomment %}

                <div class="col-lg-6 mb-4">
                    <button class="btn btn-primary w-100" onclick="window.location.href='{% url 'fourieroptics:download_animation' %}'">Download RGB Animation</button>

                    <img src="{% static 'fourieroptics/rgb_animation_optimized.gif' %}" alt="Fourier Optics Animation" class="img-fluid">

                
                </div>
                <div class="col-lg-6 mb-4">
                    <button class="btn btn-primary w-100" onclick="window.location.href='{% url 'fourieroptics:download_animation_intensity' %}'">Download Intensity Animation</button>

                    <img src="{% static 'fourieroptics/intensity_animation_optimized.gif' %}" alt="Fourier Optics Animation" class="img-fluid">
                </div>
        
                {% endif %}
                <div class="col-lg-6 mb-4">
                    <div id="rgb-plot"></div>
                    <script>
                        var plot_data = {{ anim_rgb_plot_data|safe }};
                        Plotly.newPlot('rgb-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('rgb-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">

                    <div id="heatmap-plot"></div>
                    <script>
                        var plot_data = {{ anim_heatmap_plot_data|safe }};
                        Plotly.newPlot('heatmap-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('heatmap-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">
                    <div id="3d-plot"></div>
                    <script>
                        var plot_data = {{ anim_3d_plot_data|safe }};
                        Plotly.newPlot('3d-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('3d-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">
                    <div id="lines-plot"></div>
                    <script>
                        var plot_data = {{ anim_lines_plot_data|safe }};
                        Plotly.newPlot('lines-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('lines-plot', plot_data.frames);
                        });
                    </script>
                </div>

            </div>
            
        </form>
    </div>
</section>


{% endblock %}