{% extends 'app/base.html' %}


{% block content %}
{% load static %}


<title>{% block title %}Michelson Interferometer{% endblock %}</title>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p class="main-title">Michelson Interferometer </p>
    <hr>
    <div class="row">
        <div class="col-lg-6">

            <!-- Light Source -->
            <div class="card shadow-sm mb-4">
                <div class="card-header fw-bold text-center" >Light Source</div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                    <table class="table table-sm table-bordered align-middle text-center" id="lightTable">
                        <thead class="table-secondary">
                        <tr><th>Wavelength (nm)</th><th>Intensity</th></tr>
                        </thead>
                        <tbody id="lightTableBody">
                        <tr>
                            <td><input type="number" name="wavelength-1" class="form-control" value="400"></td>
                            <td><input type="number" name="intensity-1" class="form-control" value="1.0"></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="text-center">
                    <button type="button" id="removeRow" class="btn btn-outline-danger btn-sm me-2">−</button>
                    <button type="button" id="addRow" class="btn btn-outline-success btn-sm">＋</button>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header fw-bold text-center" >Grid Parameters</div>
                <div class="card-body p-0">
                    <table class="table table-sm table-bordered text-center align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>Grid Size (mm)</th>
                            <th>Grid Resolution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form.grid_size }}</td>
                            <td>{{ form.resolution }}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-header fw-bold text-center" >Arm Parameters</div>
                <div class="card-body p-0">
                    <table class="table table-sm table-bordered text-center align-middle mb-0">
                    <thead class="table-secondary">
                        <tr>
                            <th>OM<sub>1</sub> (cm)</th>
                            <th>OM<sub>2</sub> (cm)</th>
                            <th>OS<sub>source</sub> (cm)</th>
                            <th>OS<sub>screen</sub> (cm)</th>
                            <th>M<sub>1</sub> Tilt x (mrad)</th>
                            <th>M<sub>1</sub> Tilt y (mrad)</th>
                            <th>Beamsplitter Reflection</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form.arm1_length }}</td>
                            <td>{{ form.arm2_length }}</td>
                            <td>{{ form.laser_to_beamsplitter }}</td>
                            <td>{{ form.beamsplitter_to_screen }}</td>
                            <td>{{ form.tilt_x }}</td>
                            <td>{{ form.tilt_y }}</td>
                            <td>{{ form.beamsplitter_reflection }}</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Left Column: Light Source -->
        <div class="col-lg-6 justify-content-center align-items-center">
            <div class="title">
                Light Source
            </div>
            <div class="table-wrapper">
                <table class="table">
                    <tr>
                        <th>Wavelength (nm)</th>
                        <th>Laser beam radius (mm)</th>
                    </tr>
                    <tr>
                        <td>{{ form.wavelength }}</td>
                        <td>{{ form.laser_radius }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6 justify-content-center align-items-center">
            <div class="title">
                Grid Parameters
            </div>
            <div class="table-wrapper">
                <table class="table">
                    <tr>
                        <th>Grid Size (mm)</th>
                        <th>Grid Resolution</th>
                    </tr>
                    <tr>
                        <td>{{ form.grid_size }}</td>
                        <td>{{ form.resolution }}</td>
                    </tr>
                </table>
            </div>
        </div>

        

        <!-- Right Column: Arm and Distance Parameters -->
        <div class="col-lg-12 justify-content-center align-items-center">
            <div class="title">
                Arm Parameters
            </div>
            <div class="table-wrapper">
                <table class="table">
                    <tr>
                        <th>OM<sub>1</sub> (cm)</th>
                        <th>OM<sub>2</sub> (cm)</th>
                        <th>OS<sub>source</sub> (cm)</th>
                        <th>OS<sub>screen</sub> (cm)</th>
                        <th>M<sub>1</sub> Tilt x (mrad)</th>
                        <th>M<sub>1</sub> Tilt y (mrad)</th>
                        <th>Beamsplitter Reflection</th>
                    </tr>
                    <tr>
                        <td>{{ form.arm1_length }}</td>
                        <td>{{ form.arm2_length }}</td>
                        <td>{{ form.laser_to_beamsplitter }}</td>
                        <td>{{ form.beamsplitter_to_screen }}</td>
                        <td>{{ form.tilt_x }}</td>
                        <td>{{ form.tilt_y }}</td>
                        <td>{{ form.beamsplitter_reflection }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Submit Button -->
    <div style="text-align: center; margin-top: 20px;">
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </div>

    <div id="heatmap-plot"></div>
        <script>
            var plot_data = {{ plot_data|safe }};
            Plotly.newPlot('heatmap-plot', plot_data.data, plot_data.layout).then(function() {
                Plotly.addFrames('heatmap-plot', plot_data.frames);
            });
        </script>

</form>
  



{% endblock %}