{% extends 'app/base.html' %}


{% block content %}
{% load static %}

 
<title>{% block title %}Fourier optics{% endblock %}</title>


<section id="starter-section" class="starter-section section">
    <div class="container" >
       
             <div class="row">
                <div class="col-lg-4 justify-content-center align-items-center">
                    <div class="title">
                        Light Source
                    </div>
              
                    <div class="table-wrapper">
                    
                        <table class="table">
                            <tr>
                                <th>Wavelength (nm)</th>
                                <th>Intensity</th>
                            </tr>
                            {% for wavelength ,intensity  in lightsource %}
                            <tr>
                                <td>{{ wavelength }}</td>
                                <td>{{ intensity }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                            
                    </div>
               
                </div>
                <div class="col-lg-8 justify-content-center align-items-center">
                    <div class="title">
                        Aperture : {{ result.aperture_type }}
                    </div>
                    {% if result.aperture_type == 'N-Slit' %}


                    <div class="table-wrapper">
                        
                        <table class="table">
                            <tr>
                                <th colspan="4">N Slit</th>
                            </tr>
                            <tr>
                                <td>Number Of Slits</td>
                                <td>Width (mm)</td>
                                <td>Height (mm)</td>
                                <td>Distance between slits (mm):</td>
                            </tr>
                            <tr>
                                <td><div class="form-container">{{ result.number_of_slits }}</div></td>
                                <td><div class="form-container">{{ result.slit_width }}</div></td>
                                <td><div class="form-container">{{ result.slit_height }}</div></td>
                                <td><div class="form-container">{{ result.distance_between_slits }}</div></td>
                            </tr>
                        </table>
                    </div>
                    {% elif result.aperture_type == 'Circular' %}
                    <div class="table-wrapper">
                        
                        <table class="table">
                            <tr>
                                <th>Circular</th>
                            </tr>
                            <tr>
                                <td>Aperture Radius (mm)</td>
                            </tr>
                            <tr>
                                <td><div class="form-container">{{ result.aperture_radius }}</div></td>
                            </tr>
                        </table>
                    </div>
                    {% endif %}

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 justify-content-center align-items-center">
                    {% if result.add_lens %}
                    <div class="title">
                         Lens
        
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                        
                            <tr>
                                <th>Distance Lens to Aperture (cm):</th>
                                <th>Focal Length (mm)</th>
                            </tr>
                            <tr>
                                <td>{{ result.distance_lens_to_aperture }}</td>
                                <td>{{ result.focal_length }}</td>
                            </tr>
                            
                        </table>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 justify-content-center align-items-center">
                    <div class="title">
                        Screen
        
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                        
                            <tr>
                                <th>Distance Screen to Aperture (cm):</th>
                                <th>Width (mm)</th>
                            </tr>
                            <tr>
                                <td>{{ result.distance_screen_to_aperture }}</td>
                                <td>{{ result.screen_width }}</td>
                            </tr>
                        
                        </table>
                        </div>
                </div>
                <div class="col-lg-4 justify-content-center align-items-center">
                    <div class="title">
                        Parameters
        
                    </div>
                    <div class="table-wrapper">
                        <table class="table">
                        
                            <tr>
                                <th >Resolution</th>
                                <th >Number of Steps</th>
                            </tr>
                        
                            <tr>
                                <td>{{ result.resolution }}</td>
                                <td>{{ result.animation_frames }}</td>
                            </tr>
                        
                        </table>
                        </div>
                </div>
            </div>
        
            <hr>
            <div class="row justify-content-center align-items-start mt-4" style="overflow-x: auto;">
                
                <div class="col-lg-6 mb-4">
                    <div id="rgb-plot"></div>
                    <script>
                        var plot_data = {{ result.anim_rgb_plot_data|safe }};
                        Plotly.newPlot('rgb-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('rgb-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">

                    <div id="heatmap-plot"></div>
                    <script>
                        var plot_data = {{ result.anim_heatmap_plot_data|safe }};
                        Plotly.newPlot('heatmap-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('heatmap-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">
                    <div id="3d-plot"></div>
                    <script>
                        var plot_data = {{ result.anim_3d_plot_data|safe }};
                        Plotly.newPlot('3d-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('3d-plot', plot_data.frames);
                        });
                    </script>
                </div>

                <div class="col-lg-6 mb-4">
                    <div id="lines-plot"></div>
                    <script>
                        var plot_data = {{ result.anim_lines_plot_data|safe }};
                        Plotly.newPlot('lines-plot', plot_data.data, plot_data.layout).then(function() {
                            Plotly.addFrames('lines-plot', plot_data.frames);
                        });
                    </script>
                </div>

            </div>
        
        
    </div>
</section>


{% endblock %}