{% extends "app/base.html" %}

{% block content %}

<title>{% block title %}Sign Up{% endblock %}</title>
<section id="starter-section" class="starter-section section py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4 font-weight-bold">Sign Up</h3>
                        <form action="{% url 'app:signup' %}" method="post">
                            {% csrf_token %}
                            
                            <!-- Username -->
                            <div class="form-group mb-3">
                                <label for="username_signup">Username</label>
                                <input type="text" class="form-control" id="username_signup" name="username_signup" placeholder="Username" required>
                            </div>
                            
                            <!-- Email -->
                            <div class="form-group mb-3">
                                <label for="email_signup">Email</label>
                                <input type="email" class="form-control" id="email_signup" name="email_signup" placeholder="Email" required>
                            </div>
                            
                            <!-- Password -->
                            <div class="form-group mb-3">
                                <label for="password_signup">Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password_signup" name="password_signup" placeholder="Password" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text" onclick="togglePassword()">
                                            <i class="bx bx-hide eye-icon text-dark"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Error message -->
                            {% if message %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                            {% endif %}

                            <!-- Sign Up Button -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block w-100" name="signup">Sign Up</button>
                            </div>
                        </form>

                        <!-- Log In link -->
                        <div class="text-center mt-3">
                            <span>Already have an account? <a href="{% url 'app:login' %}" class="link login-link text-primary">Log In</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Custom CSS for Eye Icon -->
<style>
    .eye-icon {
        cursor: pointer;
        font-size: 1.25rem; /* Adjust this to your preferred size */
        line-height: 1.5; /* Ensures vertical alignment */
    }

    .input-group-append .input-group-text {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Ensure the icon fills the height of the input field */
    }

    .input-group .form-control {
        height: 38px; /* Adjust based on your design, the default height of form-control might vary */
    }
</style>


<!-- Add toggle password function -->
<script>
    function togglePassword() {
        var passwordInput = document.getElementById("password_signup");
        var passwordIcon = document.querySelector(".eye-icon");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordIcon.classList.replace("bx-hide", "bx-show");
        } else {
            passwordInput.type = "password";
            passwordIcon.classList.replace("bx-show", "bx-hide");
        }
    }
</script>

<!-- Boxicons Link for Icons -->
<link href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" rel="stylesheet">



{% endblock %}
